{% extends "layout.html" %}

{% block main %}


<div class="center-container">
    <img src="/static/cyber.jpg" alt="" class="resized-image">
    <input class="search-box" autocomplete="off" autofocus type="search" id="search" placeholder="Search for address"
        role="combobox" maxlength="2048">
</div>

<ul id="results"></ul>

<script>
    let input = document.querySelector('#search');
    input.addEventListener('input', async function () {
        let response = await fetch('/portfolio/search?q=' + encodeURIComponent(input.value));
        let projects = await response.json();

        let html = '';

        // Check if projects is an array (for successful searches) or empty object (when cleared)
        if (Array.isArray(projects)) {
            for (let project of projects) {
                let actual_id = project.id;
                let pType = project.p_type ? project.p_type.replace('<', '&lt;').replace('&', '&amp;') : '';
                let company = project.company ? project.company.replace('<', '&lt;').replace('&', '&amp;') : '';
                let address = project.address ? project.address.replace('<', '&lt;').replace('&', '&amp;') : '';
                let chargersCount = project.chargers_count || 0;

                html += `
                    <li>
                        <a class="text-decoration-none" href="/project_review/${actual_id}">
                            ${address} | ${pType} | ${company} | ${chargersCount} Chargers
                        </a>
                    </li>
                `;
            }
        }
        // This will clear results when input is empty or when response is {}
        document.querySelector('#results').innerHTML = html;
    });
</script>


{% endblock %}
